fastapi
uvicorn
pydantic
sqlalchemy
psycopg2-binary
python-multipart
python-jose[cryptography]
passlib[bcrypt]


56787
1234567rtezsdxfcfvgbh7675trdf

this is feature 2.0
# Optional dependencies for testing
pytest          
bug branch
